BrityWorks.AddIn.Hyper-v3.0/External/Designer/SetupPkg.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SetupPackage">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PkgItem">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PkgBuilder">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="50"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Name">
								<xs:simpleType>
                                    <xs:restriction base="xs:string">
										<xs:minLength value="1"/>
                                        <xs:maxLength value="100"/>
										<xs:pattern value="[^\\\/:*&quot;?&lt;&gt;|]+"/>
										<xs:whiteSpace value="collapse"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Version">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="(?:([1-9]))(?:\.([\d]{1,2}))(?:\.([\d]{1,3}))(?:\.([\d]{1,5}))?"/>
										<xs:whiteSpace value="collapse"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
							<xs:element name="EngineProtocolVersion" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="RunnableVersion" type="xs:string" minOccurs="0" maxOccurs="1"/>							
                            <xs:element name="ProcessPlatform" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[Xx][3][2]" />
                                        <xs:pattern value="[Xx][6][4]" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Desc" type="xs:string"/>
                            <xs:element name="TargetPath" type="xs:string"/>
                            <xs:element name="SubItems">
                                <xs:complexType>
                                    <xs:sequence >
                                        <xs:element name="Item" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="id" type="xs:string"/>
                                                <xs:attribute name="version" type="xs:string"/>
                                                <xs:attribute name="targetPath" type="xs:string"/>												
                                                <xs:attribute name="sourcePath" type="xs:string"/>
                                            </xs:complexType>
                                        </xs:element>                                    
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
							<xs:element name="Tools">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PreSetup" type="xs:string"/>
										<xs:element name="PostSetup" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
                        </xs:sequence>
                        <xs:attribute name="target">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[Bb][o][t]" />
                                    <xs:pattern value="[Dd][e][s][i][g][n][e][r]" />
                                    <xs:pattern value="[Bb][o][t][h]"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="setupType">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:enumeration value="AddIn"/>
                                  <xs:enumeration value="CustomLibrary"/>
                                  <xs:enumeration value="TemplateLibrary"/>
                                  <xs:enumeration value="InstallFile"/>
								  <xs:enumeration value="RuntimeEngine"/>
								  <xs:enumeration value="ClientInstall"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="required" type="xs:boolean"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>           
            <xs:attribute name="version" type="xs:decimal" fixed="1.0"/>
        </xs:complexType>
    </xs:element>
</xs:schema>